@model PcVadisi.Models.entity.kotegori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_mainlyout.cshtml";
}


@using (Html.BeginForm("guncelle", "kategori", FormMethod.Post)) { 


    <div class="form-group">
        @Html.LabelFor(m=> m.kotegoriid)
        @Html.TextBoxFor(m=>m.kotegoriid , new  {@class ="form-control" } )

        <br />

        @Html.LabelFor(m=>m.kategoriad)
        @Html.TextBoxFor(m=>m.kategoriad, new {@class ="form-control" })
    </div>

    <div> 
        <button class="btn btn-success">Düzenle</button>
    </div>
}