
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_VitrinLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head class="alert-dark">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda Sayfası</title>
</head>

<body class="active" , backround-color="">
    <h2>HAKKIMIZDA</h2>
    <br />
    <br />

    <img src="~/Admn/login/images/best-about-us-pages (1).jpg" width="1100px" height="400px" />
    <br />
    <br />
    <br />
    <p>sdgjoıfjsgıjmsoıcghnfk alkfjFOILDSJ RFJEWOIFLSJ OISJFE OIajM RKdkfjgfmsd od s rj fkkzd </p>

</body>
</html>