@model PcVadisi.Models.entity.urunler
@{
    ViewBag.Title = "yeniurunler";
    Layout = "~/Views/Shared/_mainlyout.cshtml";
}

<form class=" form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" required class="form-control" placeholder="Ürün adını giriniz..." name="urunad" />
    </div>
    <br />
    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(x=>x.kotegori.kotegoriid, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control"})
    </div>
    <br />
    <div>
        <label>Ürün Fiyatı</label>
        <input required type="number" min="0" class="form-control" placeholder="Ürün fiyatını giriniz..." name="fiyat" />
    </div>
    <br />
    <div>
          <a href="~/Views/Urunler/yeniurunler.cshtml"></a>
        <label>Stok Miktarı</label>
        <input required type="number" min="0" class="form-control" placeholder="Stok Miktarını giriniz..." name="stok" />
    </div>
    <br />
    <div>
        <label>Ürün Markası</label>
        <input type="text" class="form-control" placeholder="Ürün markasını giriniz..." name="marka" />
    </div>
    <br />
    <div style="margin-top: 10px">
        <a href="/Urunler/Index" class="btn btn-danger">İptal</a>
        <button class=" btn btn-info"> Ürün Ekle</button>
    </div>
</form>

