@using PcVadisi.Models.entity
@model List<musteri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlyout.cshtml";
}




<table class=" table table-bordered">
    <tr>
        <th> Müşteri ID</th>
        <th> Müşteri Adı</th>
        <th> Müşteri Soyadı</th>
        <th>EKLE/GÜNCELLE</th>
       

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
        <tr>
            <th>@mus.musteriid</th>
            <td>@mus.musteriad</td>
            <td>@mus.musterisoyad</td>
            <td>
                <a href="/musteri/deleteMusteri/@mus.musteriid/" class=" btn btn-danger">SİL</a>
                <a href="/musteri/musteriGetir/@mus.musteriid" class=" btn btn-success">GÜNCELLE</a>
            </td>




        </tr>
        }
    </tbody>
</table>
<a href="/musteri/yenimusteri/" class="btn btn-primary "> YENİ MÜŞTERİ EKLE</a>
