
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Pc Vadisi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pc Vadisi</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Vitrin/Index/">Ürünler </a></li>
                <li><a href="/Vitrin/Hakkimizda/">Hakkımızda</a></li>
                <li><a href="/Vitrin/iletisim/">İletişim</a></li>
                <li><a href="/AdminPage/Loginpage/" target="_blank">Giriş Yap</a></li>

            </ul>


        </div>
    
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
